mixin block_map(shadow, direction, point, poi, options)
  .block-map(class=(shadow ? 'shadow ' : '') + (point && point.poi || poi ? ' poi' : ''),data-direction=direction, data-point=point, data-poi=poi, data-options=options)
