if(config.content.og && config.content.og.title)
  meta(property="og:title" content=config.content.og.title)
else if(config.content.en)
  meta(property="og:title" content="OneTwoTrip! Travel Expert")
else
  meta(property="og:title" content="Маршрут путешествия " + config.content.top.text)
meta(property="og:url" content=config.domain + config.main + url)

if(config.content.og && config.content.og.image)
  meta(property="og:image" content=config.domain + config.path.images + config.content.og.image)
else if(config.content.blogFooter && config.content.top && config.content.top.image)
  meta(property="og:image" content=config.domain + config.path.images + config.content.top.image)
else
  meta(property="og:image" content=config.domain + config.path.images + "share/share.png")
//-meta(property="og:image" content="")
//-meta(property="og:image" content="")
//-meta(property="og:image" content="")
//-meta(property="og:image" content="")
//-meta(property="og:image" content="")

//-meta(property="og:site_name" content="")
if(config.content.og && config.content.og.description)
  meta(property="og:description" content=config.content.og.description)
else if(config.content.en)
  meta(property="og:description", content='If you wish to receive a personal detailed trip itinerary to any destination, please contact our Travel Expert team via e-mail or Telegram messenger.')
else
  meta(property="og:description", content='На проработку крутой поездки могут уйти дни и даже недели. Поэтому предлагаем не тратить время и поручить всё профессионалам из OneTwoTrip. Команда экспертов подберёт авиабилеты и гостиницы, разработает маршрут и расскажет, куда сходить и что посмотреть.')
meta(property="og:updated_time", content=Date.now())