//-.block-card__photo(data-tags=tags, data-location=location)
  .block-card__photo__back
    .block-card__photo__back__thumbs
    .block-card__photo__back__over
  .block-card__photo__front
    .block-card__photo__text
      .block-card__photo__text__title
        span.block-card__photo__text__title__inner Фотографии
      if(desc)
        .block-card__photo__text__desc
          span.block-card__photo__text__desc__inner!= desc
    if(tags)
      .block-card__photo__tags
        if(typeof tags == 'string')
          span.block-card__photo__tags__inner!= '#' + tags
        else
          span.block-card__photo__tags__inner!= '#' + tags.join(', #')

mixin block_photo(data)
  .block-photos(data-tags=data.tags, data-text=data.text, data-options=data, data-location=data.location)
    .block-photos__back
      .block-photos__back__thumbs.block-photo-back
      //-.block-photos__back__over
    //-.block-photos__front
      .block-photos__text
        if(data.title)
          .block-photos__text__title
            span.block-photos__text__title__inner!= data.title
        if(data.description)
          .block-photos__text__desc
            span.block-photos__text__desc__inner!= data.description
      if(data.tags && data.showTags)
        .block-photos__tags
          if(typeof data.tags == 'string')
            span.block-photos__tags__inner!= '#' + data.tags
          else
            span.block-photos__tags__inner!= '#' + data.tags.join(', #')