include map.pug
include ../components/cards
include photo.pug

mixin waypoint_description_full(description, i, sub)
  each desc, index in description
    if(desc.cost)
      - var str = "priceGroups.push("+JSON.stringify(desc.cost)+");"
      script!= str
    if(i < index)
      if(typeof desc === 'string')
        +waypoint_desc(desc)
      else if(desc.type && typeof desc.type == 'string')
        case desc.type
          when 'custom-photo'
          when 'custom-photos'
            +waypoint_custom_photo(desc.options)
          when 'weather'
            +waypoint_weather(desc.options)
          when 'photo'
          when 'photos'
            +waypoint_photo(desc.options)
          when 'text'
            +waypoint_desc(desc.options)
          when 'card'
          when 'cards'
            +waypoint_card(desc.options, desc.api)
          when 'title'
            +waypoint_title(desc.options)
          when 'map'
            +waypoint_map(desc.options)
          when 'drop-down'
            .block-waypoint__drop
              .block-waypoint__drop__title
                +waypoint_title(desc.title)
              .block-waypoint__drop__body
                .block-waypoint__drop__body__inner
                  +waypoint_description_full(desc.options, -1, true)

mixin waypoint_photo(photoData)
  //-if(photoData.title)
    +waypoint_title(photoData.title)
  if(photoData.description)
    +waypoint_desc(photoData.description)
  .block-waypoint__photo
    +block_photo(photoData)

mixin waypoint_weather(weatherData)
  .block-waypoint__weather
    div(data-options=weatherData).weather
      .card-loader
        div
          img(src="/public/images/api/ring.svg")
        div Узнаем погоду...

mixin waypoint_custom_photo(photoData)
  if(photoData.grid && photoData.items)
    .block-waypoint__custom__photo
      - var i = 0;
      .custom-photo(data-grid=photoData.grid, data-items=photoData.items)
        each grid, index in photoData.grid
          if(typeof grid === 'number')
            if(photoData.urls[i])
              .custom-photo__item
                .custom-photo-preview(data-url=photoData.urls[i] style={'background-image' : 'url(' + photoData.urls[i] + ')'})
              - i++;
          else
            .custom-photo__item
              each inner in grid
                if(photoData.urls[i])
                  .custom-photo__item--4
                    .custom-photo-preview(data-url=photoData.urls[i] style={'background-image' : 'url(' + photoData.urls[i] + ')'})
                  - i++;
        if(i < photoData.items.length)
          .custom-photo-more
            span!='+ ' + (photoData.items.length - i)


mixin waypoint_map(map)
  .block-waypoint__cards
    .layout-row
      .layout-row__cell
        +block_map(true, map.direction, map.point, map.poi, map.options)

mixin waypoint_card(cards, api)
  if(api)
    - var str = "apiStore.push("+JSON.stringify(api)+");"
    script!= str
  .block-waypoint__cards
    .layout-row
      each card, index in cards
        .layout-row__cell.layout-row__cell--1-4
          +block_card(card)

mixin waypoint_title(title)
  .block-waypoint__text
    .block-waypoint__title
      span.block-waypoint__title__inner!= title

mixin waypoint_desc(text)
  .block-waypoint__text
    .block-waypoint__desc
      span.block-waypoint__desc__inner!= text

mixin block_waypoint(title, description, map, cards)
  - var i = -1;
  section.block-waypoint
    .block-waypoint__marker
    .block-waypoint__text
      .block-waypoint__title
        span.block-waypoint__title__inner.main!= title

    if(description && typeof description == 'string')
      +waypoint_desc(description)
    else if(description && Array.isArray(description) && typeof description[0] == 'string')
      - var stop = false;
      each desc, index in description
        if(typeof desc == 'string' && !stop)
          - i = index;
          +waypoint_desc(desc)
        else
          - stop = true;

    if(map)
      +waypoint_map(map)
    if(cards)
      +waypoint_card(cards)

    if(Array.isArray(description))
      +waypoint_description_full(description, i)
