@import './../assets/mixins';

.block-top {
  position: relative;
  height: 600px - 72px;
  z-index: 0;
  .stop-flickering();
  &__background {
    
    .stop-flickering();
    .full-cover(absolute);
    
    z-index: 0;
    &__overlay {
      .stop-flickering();
      .full-cover(absolute);
      z-index: 1;
      height: 101%;
      
      /* Mask: */
      background: rgba(25, 25, 25, 0.60);
    }
    
    &__img {
      .stop-flickering();
      
      .full-cover(absolute);
      z-index: 0;
      //background: transparent url('@{imgPath}top/back.png') center no-repeat;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
    }
  }
  
  &__forground {
    .stop-flickering();
    
    .full-cover(absolute);
    //position: relative;
    z-index: 1;
    font-size: 0;
    
    &:before, &:after {
      width: 0;
      height: 600px - 72px;
      display: inline-block;
      content: ' ';
      vertical-align: middle;
    }
    
    &__center {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
    
    &__title {
      text-align: center;
      
      &__icon {
        margin-top: 72px;
        margin-bottom: 19px;
        @media (min-width: 560px) {
          margin-top: 0;
        }
        
        &__img {
          width: 277px/1.2;
          height: 40px/1.2;
          
          @media (min-width: 560px) {
            width: 277px;
            height: 40px;
          }
        }
      }
      
      &__text {
        margin-bottom: 29px;
        &__inner {
          /* МАРШРУТ ПУТЕШЕСТВИЯ: */
          font-family: 'PFDinTextCompPro-XBlack', 'PFDin', sans-serif;
          color: #FFFFFF;
          letter-spacing: 1.68px;
          text-transform: uppercase;
          font-size: 42px;
          
          @media (min-width: 560px) {
            font-size: 56px;
            letter-spacing: 3.68px;
          }
        }
      }
    }
    
    &__route {
      text-align: center;
      position: relative;
      font-size: 0;
      &__inner {
        /* Москва Нью-Йорк Бост: */
        //font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 0.27px;
        display: inline-block;
        width: 50%;
        margin: 0 0 10px;
        
        /* В Нью–Йорк и Майами: */
        font-family: "Roboto", Roboto-Bold, sans-serif;
        //font-weight: 700;
        //font-size: 26px;
        //letter-spacing: 0.39px;
        
        &.full {
          width: auto;
        }
        
        @media (min-width: 560px) {
          width: auto;
          margin: 0 20px 10px;
          font-weight: 700;
          font-size: 26px;
          letter-spacing: 0.39px;
        }
        
        @media (min-width: 1024px) {
          margin: 0 30px 10px;
        }
      }
    }
    
    &__under {
      
      text-align: center;
      position: relative;
      font-size: 0;
      margin-top: 6px;
      
      &__inner {
        
        /* 25 ноября — 5 декабр: */
        font-family: 'Roboto', 'Roboto-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.27px;
      }
    }
  }
  
  &__scroll {
    text-align: center;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    &__img {
      width: 16px;
      height: 36px;
    }
  }
}