
.block-connect {
  background: #1D1D1D;
  //line-height: ;
  padding: 6px 0;
  position: relative;
  z-index: 1;
  
  .clearfix();
  
  &__left, &__right {
    margin: 6px 0;
    display: inline-block;
    vertical-align: middle;
  }
  
  &__left {
    font-size: 0;
    
    &__links {
      
    }
  }
  
  
  &__left{
    margin: 6px 0;
    
    @media(min-width:768px){
      margin: 25px 0;
    }
    
    @media(min-width:1024px){
      margin: 10px 0;
    }
  }
  
  &__right {
    
    @media (min-width: 768px) {
      float: right;
    }
  }
  
  &__title, &__links, &__social {
    display: block;
    vertical-align: middle;
    
    @media (min-width: 768px) {
      display: inline-block;
    }
  }
  
  &__social {
    display: inline-block;
    
    //@media (min-width: 560px) {
    //  margin: 0 auto;
    //  width: 480px;
    //}
    @media (min-width: 768px) {
      display: block;
    }
    //
    //@media (min-width: 1024px) {
    //  width: 940px;
    //}
    @media (min-width: 1024px) {
      display: inline-block;
    }
  }
  
  &__title {
    
    margin-right: 10px;
    &__inner {
      /* Спроси тревел экспер: */
      font-family: Roboto, Roboto-Bold, sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0px;
      line-height: 30px;
      vertical-align: middle;
    }
  }
  
  &__link {
    text-decoration: none;
    
    padding: 0 10px 0 0 ;
    vertical-align: middle;
    
    &__inner, &__img {
      display: inline-block;
      vertical-align: middle;
    }
    
    &__img + &__inner {
      margin-left: 7px;
    }
    
    &__inner + &__img {
      margin-left: 7px;
    }
    
    &__img {
      width: 16px;
      height: 16px;
      opacity: .3;
    }
    
    &__inner {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0px;
      line-height: 1.4;
      border-bottom: 1px dashed #999999;
    }
    
    &:hover & {
      &__img {
        opacity: 1;
      }
      
      &__inner {
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }
  
  &__right {
  
    .block-connect__title {
      display: inline-block;
      vertical-align: middle;
    
      @media (min-width: 560px) {
        display: block;
      }
    
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
    .btn-social {
      vertical-align: middle;
      
      & + .btn-social {
        margin: 0 24px/2;
      }
    }
  }
}