.block-title {
  position: relative;
  padding-top: 85px;
  padding-bottom: 60px;
  background: white;
  z-index: 1;
  
  &__print {
    margin-top: 3px;
    width: 100%;
    .block-title-prise & {
      margin-top: 0;
      position: absolute;
      left: 0;
      bottom: -30px - 10px;
    }
    //right: 0;
    //z-index: 1;
    
    .btn {
      width: 100% !important;
      box-sizing: border-box;
    }
  }
  
  &__top {
    margin-bottom: 62px;
    &__row {
      z-index: 0;
      font-size: 0;
      position: relative;
      
      &__cell {
        vertical-align: top;
        //vertical-align: bottom;
        display: inline-block;
        box-sizing: border-box;
        min-height: 1px;
        &:first-child {
          @media (min-width: 560px) {
            margin-right: 100%/12;
            width: 100%/12*6;
          }
          @media (min-width: 768px) {
            width: 100%/12*7;
          }
          
          @media (min-width: 1024px) {
            margin-right: 100%/12*2;
          }
        }
        
        &:last-child {
          @media (min-width: 560px) {
            width: 100%/12*5;
          }
          @media (min-width: 768px) {
            width: 100%/12*4;
          }
          @media (min-width: 1024px) {
            width: 100%/12*3;
          }
        }
      }
    }
    
    &__title {
      margin-bottom: 48px;
      @media (min-width: 560px) {
        width: 200%;
      }
      
      @media (min-width: 768px) {
        width: 100%;
      }
    }
    
    &__route {
      margin-bottom: 10px;
      &__inner {
        //font-family: "Roboto", sans-serif;
        //font-weight: 400;
        //font-size: 14px;
        //color: #383838;
        //letter-spacing: 0px;
        //line-height: 24px;
        margin-right: 10px;
        display: inline-block;
        
        /* Москва Нью-Йорк Бост: */
        font-family: Roboto, Roboto-Medium, sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: #383838;
        letter-spacing: 0px;
        line-height: 36px;
        
        &:after {
          content: '\2192';
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle;
          font-size: 10px;
        }
        &.no-after {
          &:after {
            content: '';
          }
        }
        
        &:last-child {
          margin-right: 0;
        }
        
        @media (min-width: 560px) {
          //font-size: 18px;
          font-size: 26px;
          
        }
      }
      
      &.no-js &__inner {
        &:last-child:after {
          content: '';
        }
      }
    }
    
    &__desc {
      margin-bottom: 20px;
      @media (min-width: 560px) {
        margin-bottom: 0;
      }
      &__inner {
        /* В цену включен между: */
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #999999;
        letter-spacing: 0px;
        line-height: 15px;
      }
    }
  }
  
  &__map {
    margin-bottom: 95px - 85px;
    .block-map {
      height: 400px;
    }
  }
}

.block-title-prise {
  /* Rectangle 2: */
  background: #F3F3F3;
  padding: 8px 19px 17px;
  position: relative;
  &__name {
    margin-bottom: 8px;
    &__inner {
      /* СТОИМОСТЬ: */
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #5C5C5C;
      letter-spacing: 1px;
      line-height: 25px;
      text-transform: uppercase;
    }
  }
  
  &__cost {
    margin-bottom: 3px;
    &__inner {
      /* от 79 456 ₽: */
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 26px;
      color: #383838;
      letter-spacing: 0px;
      
      &__rub {
        width: 15px;
        height: 19px;
        margin-left: 10px;
      }
      
      .icon-rub {
        font-size: 27px;
      }
    }
  }
  
  &__desc {
    &__inner {
      /* за одного человека п: */
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #999999;
      letter-spacing: 0px;
      line-height: 15px;
      
    }
  }
}