@import './../assets/mixins';

.block-waypoint {
  margin-bottom: 98px;
  
  position: relative;
  &__marker {
    z-index: 1;
    position: absolute;
    /* Oval 2: */
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 15px;
    top: 8px;
    left: (-16px - 15px);
    
    .transition(border .2s ease, box-shadow .2s ease);
    
    &:before {
      border-radius: 15px;
      content: '';
      width: 100%;
      position: absolute;
      display: block;
      height: 0;
      /* Oval 2: */
      background: #FFC900;
      .transition(height .2s ease);
    }
    
    &.active {
      
      //box-shadow: 0px 0px 4px 0px #FFC900;
      border-color: #FFC900;
      &:before {
        height: 100%;
      }
    }
  }
  
  &__line {
    z-index: -1;
    position: absolute;
    top: 8px + (8);
    left: -16px - (8);
    background: #D8D8D8;
    opacity: .4;
    width: 1px;
    
    &__active {
      z-index: 0;
      opacity: 1;
      background: #FFC900;
      //box-shadow: 0px 0px 4px 0px fade(#FFC900, 10%);
      
    }
  }
  
  &__text {
    //margin-bottom: 1em;
    
    //& + & {
    margin-top: 10px;
    //}
  }
  
  &__title {
    margin-bottom: 10px;
    margin-top: 25px;
    &__inner {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #383838;
      letter-spacing: 0px;
      line-height: 30px;
      
      /* 3 октября, Нью–Йорк: */
      
      &.main {
        font-family: Roboto, Roboto-Medium, sans-serif;
        font-weight: 600;
        font-size: 26px;
        color: #383838;
        letter-spacing: 0px;
        line-height: 30px;
      }
    }
  }
  
  &__desc {
    
    //margin-bottom: 4px;
    //max-width: 700px;
    
    &__inner {
      /* В Нью-Йорке и Орланд: */
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #5C5C5C;
      letter-spacing: 0px;
      line-height: 25px;
      
      strong {
        font-weight: 700;
      }
    }
  }
  
  &__cards {
    margin-top: 15px;
    .layout-row__cell {
      margin-bottom: 20px;
      .perspective(1000px);
    }
    .block-map {
      height: 200px;
      
      &.poi {
        height: 400px;
      }
    }
  }
  
  &__drop {
    &.opened {
    
    }
  }
  &__photo {
  
  }
  
}

.block-waypoint__drop {
  &__title {
    margin-bottom: -5px;
    > .block-waypoint__text {
      //margin-bottom: 3px;
    }
    .block-waypoint__title {
      cursor: pointer;
      &__inner {
        vertical-align: middle;
        
        border-bottom: 1px dashed #373737;
      }
      
      &:after {
        
        content: "";
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        
        width: 0;
        height: 0;
        
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid black;
        
        margin-left: 10px;
        
        .transition(transform .2s ease);
        
      }
      
      &:hover {
        .block-waypoint__title__inner {
          border-bottom: 1px solid #373737;
        }
      }
      &:hover {
        &:after {
          //<<<<<<< HEAD
          .rotateZ(-90deg);
          //=======
          
          //.rotateZ(-90deg);
          
          //>>>>>>> master
        }
      }
    }
  }
  
  &__body {
    display: none;
    overflow: hidden;
    //margin-left: -10px;
    
    &__inner {
      //border-left: 1px solid #FFC900;
      //padding-left: 10px;
      
      //padding-top: 10px;
      
      //padding-bottom: 10px;
      
    }
  }
  
  &.opened & {
    &__title {
      .block-waypoint__title {
        &:after {
          .rotateZ(-180deg);
        }
        
      }
    }
  }
}

.block-waypoint__custom__photo {
  margin-top: 15px;
}

.block-waypoint__weather {
  margin-top: 15px;
}

.custom-photo {
  position: relative;
  .clearfix();
  
  &__item {
    height: 120px;
    display: block;
    width: 100%/2;
    float: left;
    
    background: rgba(126, 122, 165, 0.3);
    position: relative;
    
    &:hover {
      z-index: 10;
    }
    
    @media (min-width: 560px) {
      height: 240px;
    }
    
    @media (min-width: 768px) {
      height: 175px;
      width: 100%/4;
    }
    
    @media (min-width: 1024px) {
      height: 236px;
    }
    
    &--4 {
      position: relative;
      width: 50%;
      height: 60px;
      float: left;
      
      @media (min-width: 560px) {
        height: 240px/2;
      }
      
      @media (min-width: 768px) {
        height: 175px/2;
      }
      
      @media (min-width: 1024px) {
        height: 236px/2;
      }
      
      &:hover {
        z-index: 10;
      }
    }
  }
  
  .custom-photo-more {
    
    position: absolute;
    bottom: 0;
    right: 0;
    width: percentage(1/4);
    height: 50%;
    
    background: rgba(0, 0, 0, .5);
    z-index: 11;
    
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", Roboto-Bold, sans-serif;
    
    @media(min-width: 768px){
      height: 100%;
      width: percentage(1/8);
      font-size: 30px;
    }
    
    &:hover {
      cursor: pointer;
      background: black;
    }
    
    &:before, &:after{
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      position: relative;
      vertical-align: middle;
    }
  }
  
}

.custom-photo-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-position: center;
  background-size: cover;
  
  .transition(all .2s ease);
  
  &:hover {
    cursor: pointer;
    .scale(1.1);
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  }
}

.weather {
  @width: 22%;
  
  position: relative;
  
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5c5c5c;
  letter-spacing: 0;
  line-height: 25px;
  
  min-height: 200px;
  background: rgba(216, 230, 234, .5);
  
  .card-loader {
    padding-top: 20px;
  }
  
  .alert {
    max-width: 400px;
    color: red;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
  }
  
  &.done {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    min-height: auto;
    background: white;
  }
  
  .weather__current-item {
    flex: 1 1 100%;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .1);
    padding-bottom: 15px;
    
    @media (min-width: 560px) {
      flex: 1 1 50%;
      padding-bottom: 40px;
    }
    
    @media (min-width: 768px) {
      flex: 1 1 (100% - @width * 3);
      box-shadow: 4px 2px 3px rgba(0, 0, 0, .1);
    }
  }
  
  .weather__item {
    flex: 1 1 100%;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    background: rgba(216, 230, 234, 0.1);
    padding-bottom: 10px;
    
    @media (min-width: 560px) {
      flex: 1 1 50%;
      padding-bottom: 30px;
    }
    
    @media (min-width: 768px) {
      flex: 1 1 @width;
    }
  }
  
  table.weather__table {
    width: 100%;
  }
  
  td.weather__date {
    font-size: 20px;
    padding: 10px 20px;
    
    @media (min-width: 768px) {
      padding: 10px 20px;
    }
    
    @media (min-width: 1024px) {
      font-size: 25px;
      padding: 20px 25px 10px;
    }
  }
  
  td.weather__description {
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .weather__temp--big {
    font-size: 25px;
    
    @media (min-width: 768px) {
      font-size: 35px;
    }
    
    @media (min-width: 1024px) {
      font-size: 46px;
    }
  }
  
  .weather__temp--medium {
    font-size: 15px;
    
    @media (min-width: 560px) {
      font-size: 16px;
    }
    
    @media (min-width: 768px) {
      font-size: 25px;
    }
    
    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
  
  .weather__cel {
    font-size: .8em;
  }
  
  img.weather__icon--big {
    width: 50px;
    height: 50px;
    
    @media (min-width: 768px) {
      width: 70px;
      height: 70px;
    }
    
    @media (min-width: 1024px) {
      width: 100px;
      height: 100px;
    }
  }
  
  img.weather__icon--medium {
    width: 30px;
    height: 30px;
    
    @media (min-width: 560px) {
      width: 25px;
      height: 25px;
    }
    
    @media (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
    
    @media (min-width: 1024px) {
      width: 50px;
      height: 50px;
    }
  }
}
