@import "./../assets/mixins";

.block-card {
  position: relative;
  
  height: 160px;
  //backface-visibility: hidden;
  
  &.backside {
  }
  
  &__frontside {
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    
  }
  &__backside {
    z-index: 0;
    opacity: 0;
    .rotateY(-180deg);
  }
  
  &__frontside,
  &__backside {
    
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    //padding: 6px 9px;
    box-sizing: border-box;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .transition(box-shadow .2s ease, transform .7s ease, opacity .3s ease .2s);
    
  }
  
  &__backside {
    
    .block-card__flight__across {
      margin: 0 9px;
    }
  }
  
  &.hotel, &.excursion, &.photo, &.photos, &.p {
    .block-card__frontside {
      border: 0;
    }
  }
  
  &.backside & {
    &__frontside {
      opacity: 0;
      z-index: 0;
      .rotateY(180deg);
    }
    &__backside {
      opacity: 1;
      z-index: 1;
      .rotateY(0deg);
    }
  }
  
  &:hover & {
    &__frontside,
    &__backside {
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20), 0px 16px 16px 0px rgba(0, 0, 0, 0.20);
    }
  }
  
  &__flight {
    height: 110px;
    box-sizing: border-box;
    padding: 7px 9px 0;
    &__from-to {
      height: 110px - 7px - 33px;
      box-sizing: border-box;
      
      &__title {
        padding-left: 5px;
        &__inner {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #999999;
          letter-spacing: 0px;
          line-height: 15px;
        }
      }
      
      .block-card__line {
        padding-top: 0;
        padding-bottom: 0;
      }
      
    }
    
    &__across {
      box-sizing: border-box;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      height: 33px;
      //margin: 0 9px;
      &.empty {
        border-top: 0;
      }
      
      .block-card__line__left {
        width: 65%;
      }
      .block-card__line__right {
        width: 35%;
      }
    }
  }
  
  &__price {
    padding: 5px 9px 0;
    
    &.bordered {
      border: 1px solid #D8D8D8;
      border-radius: 0 0 2px 2px;
      height: 160px - 111px;
      box-sizing: border-box;
      
      &.no-top {
        border-top: 0;
      }
      
    }
  }
  
  &__image {
    
    display: block;
    text-decoration: none;
    
    height: 111px;
    overflow: hidden;
    position: relative;
    border-radius: 2px 2px 0px 0px;
    
    &__back {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      &__overlay, &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
      }
      
      &__overlay {
        z-index: 1;
        height: 75px;
        /* Mask: */
        background-image: linear-gradient(-180deg, rgba(15, 15, 15, 0.90) 0%, rgba(15, 15, 15, 0.00) 100%);
      }
      &__img {
        z-index: 0;
        height: 100%;
        background-size: cover;
      }
      
      &__subtitle {
        font-family: 'Roboto', sans-serif;
        position: absolute;
        z-index: 10;
        font-size: 16px;
        font-weight: 400;
        bottom: 5px;
        left: 15px;
        color: white;
        text-shadow: 0 0 4px black;
        
      }
    }
    
    &__text {
      position: relative;
      z-index: 1;
      padding: 7px 15px;
      
      &__title {
        margin-bottom: 5px;
        &__inner {
          /* Royal Park Hotel & H: */
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #E8E8E8;
          letter-spacing: 0px;
          line-height: 18px;
          .block-card-image.car & {
            /* Hyundai Accent или а: */
            color: #383838;
          }
        }
      }
      
      &__desc {
        &__inner {
          /* Отель 2 звезды: */
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #D8D8D8;
          letter-spacing: 0px;
          line-height: 15px;
        }
      }
      
    }
  }
  
  &__other {
    padding: 7px 9px 0;
    height: 110px;
    box-sizing: border-box;
    &__from-to {
      height: 110px - 7 - 50;
      &__title {
        padding-left: 5px;
        &__inner {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #999999;
          letter-spacing: 0px;
          line-height: 15px;
        }
      }
      
      &__direction {
        padding-left: 5px;
        &__inner {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #383838;
          letter-spacing: 0px;
          line-height: 25px;
        }
      }
    }
    
    &__detail {
      box-sizing: border-box;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      height: 48px;
      padding-top: 3px;
      
      .block-card__line {
        padding-bottom: 0px;
        &, &:before {
          height: 15px;
        }
        &__left {
          width: 60%;
        }
        
        &__right {
          width: 40%;
        }
      }
    }
  }
  
  &__multi {
    height: 110px;
    padding: 7px 9px 0 (9px + 4px);
    box-sizing: border-box;
    overflow: auto;
    
    background: /* Shadow covers */ linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
      /* Shadows */ radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background: /* Shadow covers */ linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
      /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    
    &.with-across {
      height: 110px - 33px;
    }
    
    &__title {
      margin-bottom: 4px;
      &__inner {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #999999;
        letter-spacing: 0px;
        line-height: 15px;
      }
    }
    
    &__list {
      &__item {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #383838;
        letter-spacing: 0px;
        line-height: 25px;
      }
    }
  }
  
  &__car {
    &__text {
      position: relative;
      z-index: 1;
      padding: 7px 15px 0;
      
      height: 110px;
      box-sizing: border-box;
      
      &__title {
        &__inner {
          /* Royal Park Hotel & H: */
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          //color: #E8E8E8;
          letter-spacing: 0px;
          line-height: 25px;
          color: #383838;
        }
      }
      
      &__image {
        &__img {
          max-height: 80px;
        }
      }
      
    }
  }
  
  &__photo {
    
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 2px;
    background: rgba(48, 68, 110, 0.32);
    
    cursor: pointer;
    
    &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      //overflow: hidden;
      z-index: 0;
      
      &__thumbs {
        position: relative;
        width: 101%;
        .clearfix();
      }
      
      &__over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
        background-image: linear-gradient(-180deg, rgba(3, 12, 12, 0.7) 0, rgba(15, 15, 15, 0) 100%);
      }
    }
    
    &__front {
      position: relative;
      z-index: 1;
      height: 100%;
    }
    
    &__text {
      position: relative;
      z-index: 1;
      padding: 7px 15px;
      
      &__title {
        &__inner {
          /* Royal Park Hotel & H: */
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #E8E8E8;
          letter-spacing: 0px;
          line-height: 25px;
          .block-card-image.car & {
            /* Hyundai Accent или а: */
            color: #383838;
          }
        }
      }
      
      &__desc, &__tags {
        &__inner {
          /* Отель 2 звезды: */
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #D8D8D8;
          letter-spacing: 0px;
          line-height: 15px;
        }
      }
      
    }
    
    &__tags {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 7px 15px;
      &__inner {
        /* Отель 2 звезды: */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #D8D8D8;
        letter-spacing: 0px;
        line-height: 15px;
        
        text-shadow: 0 0 1px black;
      }
    }
    
    &__thumb, &__box {
      float: left;
      box-shadow: inset 0 0 1px 0 white;
    }
    
    &__box {
      .clearfix();
    }
  }
  
  &__line {
    padding: 4px 0px 4px 5px;
    height: 25px;
    font-size: 0;
    
    &.v2 {
      padding: 0;
    }
    &:before {
      content: '';
      height: 25px;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
    &__right, &__left {
      display: inline-block;
      vertical-align: middle;
      
      &__link {
        text-decoration: none;
        &__inner {
          /* Сложный маршрут: */
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #999999;
          letter-spacing: 0px;
          line-height: 15px;
          
          border-bottom: 1px dashed #999999;
          
        }
        
        &:hover & {
          &__inner {
            border-bottom: 1px solid #999999;
            
          }
        }
      }
      
      &__inner {
        /* Нью–Йорк: */
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #383838;
        letter-spacing: 0px;
        line-height: 1.3em;
        display: block;
        
        .block-card__line.grey & {
          color: #999999;
          font-size: 12px;
        }
      }
    }
    
    &__left {
      width: 70%;
    }
    &__right {
      width: 30%;
      text-align: right;
    }
    
    &.with-btn & {
      &__left {
        width: 50%;
      }
      &__right {
        width: 50%;
      }
    }
  }
}

.block-card-image {
  //padding: 0;
  //border: 0;
  
  //.block-card__frontside {
  //padding: 0;
  //border: 0;
  //}
  
  //&.car {
  //  .block-card__frontside {
  //    border: 1px solid #D8D8D8;
  //  }
  //}
  
  //&__top {
  //  height: 110px;
  //  overflow: hidden;
  //  position: relative;
  //  border-radius: 2px 2px 0px 0px;
  //
  //  &__back {
  //
  //  }
  //}
  
  &__bottom {
    padding: 5px 9px;
    border: 1px solid #E8E8E8;
    border-radius: 0 0 2px 2px;
    height: 50px;
    box-sizing: border-box;
    
    .block-card-image.excursion & {
      border-top: 0;
    }
    
    .block-card-image.car & {
      border: 0;
    }
  }
}

.rub-card {
  background: transparent url('@{imgPath}card/rub@2x.png') 0 0 no-repeat;
  width: 16px/2;
  height: 22px/2;
  
  background-size: 16px/2 22px/2;
}

.keyframes(ring, { 0% {
  .rotate(0deg);
} 100% {
    .rotate(360deg);
  } });

.card-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: fade(white, 50%);
  z-index: 10;
  
  text-align: center;
  
  svg {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  svg.uil-ring {
    .animation-name(ring);
    .animation-timing-function(linear);
    .animation-fill-mode(both);
    .animation-duration(1s);
    .animation-iteration-count(infinite);
  }
}