.block-advices {
  position: relative;
  background: white;
  z-index: 1;
  
  &__print {
    margin-bottom: 30px;
    
    .btn {
      
    }
  }
  
  &__title {
    margin-bottom: 27px;
  }
  
  &__content {
    max-width: 700px;
    padding-bottom: 50px;
  }
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      margin-left: 15px + 9;
      margin-bottom: 10px;
      position: relative;
      
      &:before {
        content: '';
        width: 15px;
        height: 15px;
        background: transparent url('@{imgPath}advice/check@v.svg') 0 0 no-repeat;
        display: block;
        position: absolute;
        top: 4px;
        left: -15px - 9;
      }
    }
  }
}

.block-advice {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5C5C5C;
  letter-spacing: 0px;
  line-height: 25px;
}

.block-after_advices {
  margin-bottom: 50px;
  &__content {
    
  }
  
  &__title {
    margin-bottom: 10px;
    &__inner {
      
    }
  }
  
  &__text {
    &__inner {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #5C5C5C;
      letter-spacing: 0px;
      line-height: 25px;
      
      margin-bottom: 10px;
      
      a {
        /* travelexpert@onetwot: */
        font-family: 'Robot', 'Roboto-Regular', sans-serif;
        font-size: 14px;
        color: #383838;
        letter-spacing: 0;
        line-height: 30px;
        
        text-decoration: none;
        border-bottom: 1px dashed #383838;
        
        &:hover {
          border-bottom-style: solid;
        }
        
      }
      
      h1 {
        &, a {
          font-size: 36px;
        }
      }
      h2 {
        &, a {
          font-size: 24px;
        }
      }
      h3 {
        &, a {
          font-size: 18px;
        }
      }
      h4 {
        &, a {
          font-size: 16px;
        }
      }
      
      strong {
        font-weight: 700;
      }
    }
  }
}