// blog-footer




/*********************
FOOTER STYLES
*********************/
#cb-footer {
  background-color: #272727;
  //border-top: 20px solid #333333;
}

#cb-footer a {
  color: #cccccc;
}

#cb-footer .cb-recent-comments-avatar {
  background: transparent;
}

#cb-footer .cb-recent-comments-avatar .cb-comment-with-avatar .cb-comment {
  color: #f5f5f5;
}

#cb-footer .cb-top-reviews-widget li .cb-meta h4 a {
  color: #f7f7f7;
}

//#cb-footer #cb-widgets {
//  background-color: #272727;
//  overflow: hidden;
//}
//#cb-footer #cb-widgets > div {
//  float: left;
//  padding-top: 10px;
//}
//#cb-footer #cb-widgets .cb-footer-widget-title {
//  text-align: center;
//  padding: 15px;
//  letter-spacing: 2px;
//  text-transform: uppercase;
//  font-size: 16px;
//  text-align: center;
//  margin: 0 0 20px 0;
//  color: #f2f2f2;
//  line-height: 3;
//}
//#cb-footer #cb-widgets .cb-footer-widget-title span {
//  border-bottom: 3px solid #333333;
//}
//#cb-footer #cb-widgets .widget_tag_cloud a {
//  color: #e5e5e5;
//  background: #272727;
//  border: 3px solid #333333;
//}
//#cb-footer #cb-widgets .widget_tag_cloud a:hover {
//  background-color: #333333;
//  color: #b3b3b3;
//}
//#cb-footer #cb-widgets .fb-like-box {
//  background: #fff;
//  width: 100%;
//  overflow: hidden;
//}
//#cb-footer #cb-widgets .cb-125-ads li {
//  margin: 0 10px 15px;
//}
//#cb-footer #cb-widgets .cb-comment-with-avatar {
//  background: #272727;
//}
//#cb-footer #cb-widgets .cb-single-image-widget {
//  padding-bottom: 0;
//  text-align: center;
//}
//#cb-footer #cb-widgets .cb-single-image-widget img {
//  padding: 10px 0 20px 0;
//}
//#cb-footer #cb-widgets .lwa .cb-header {
//  display: none;
//}
//#cb-footer #cb-widgets .lwa-form,
//#cb-footer #cb-widgets .lwa-remember,
//#cb-footer #cb-widgets .lwa-register-form,
//#cb-footer #cb-widgets .lwa.cb-logged-in {
//  padding: 0;
//}
//#cb-footer #cb-widgets .lwa .cb-form-body .cb-username,
//#cb-footer #cb-widgets .cb-join-modal .cb-form-body .cb-username {
//  margin: 0 0 30px 0;
//}
//#cb-footer #cb-widgets .lwa .cb-form-body .cb-password,
//#cb-footer #cb-widgets .cb-join-modal .cb-form-body .cb-password {
//  margin: 0 0 30px 0;
//}
//#cb-footer #cb-widgets .lwa .cb-form-body .cb-email,
//#cb-footer #cb-widgets .cb-join-modal .cb-form-body .cb-email {
//  margin: 0 0 30px 0;
//}
//#cb-footer #cb-widgets .cb-search .cb-search-field {
//  color: #e5e5e5;
//  background: #2d2d2d;
//  border: 0;
//}
//#cb-footer #cb-widgets .cb-search .cb-search-submit {
//  background: #242424;
//  color: #f2f2f2;
//  border: 0;
//}
#cb-footer .cb-fw {
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}

#cb-footer .cb-column {
  margin-bottom: -700px;
  padding-bottom: 700px;
}

#cb-footer .cb-footer-wrap .cb-column {
  width: 100%;
}

#cb-footer .cb-footer-wrap .cb-footer-widget {
  margin: 0 10px;
  padding-bottom: 20px;
}

#cb-footer .cb-social-media-widget {
  text-align: center;
}

#cb-footer .cb-social-media-widget .cb-social-media-icon {
  margin: 0 10px 20px 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#cb-footer .cb-footer-lower {
  padding: 20px 0;
  font-size: 12px;
  background: #1c1d1e;
}

#cb-footer .cb-footer-lower > div {
  padding: 0 10px;
}

#cb-footer .cb-footer-lower > div > div {
  display: inline-block;
}

#cb-footer .cb-footer-lower .cb-copyright {
  width: 100%;
  color: #808080;
  text-align: center;
}

#cb-footer .cb-footer-lower .cb-footer-links {
  width: 100%;
}

#cb-footer .cb-footer-lower .cb-footer-links ul {
  text-align: center;
  margin: 20px 0 0 0;
}

#cb-footer .cb-footer-lower .cb-footer-links ul li {
  display: inline-block;
  margin: 0 5px;
}

#cb-footer .cb-footer-lower .cb-footer-links ul li a {
  color: #b3b3b3;
  font-size: 25px;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

#cb-footer .cb-footer-lower .cb-footer-links ul li .sub-menu {
  display: none;
}

@media only screen and (min-width: 1020px) {
  .wrap {
    width: 1000px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  
  #cb-footer .cb-footer-lower {
    font-size: 14px;
  }
  
  #cb-footer .cb-footer-lower .cb-copyright {
    width: 29.5%;
    text-align: left;
  }
  
  #cb-footer .cb-footer-lower .cb-footer-links {
    width: 70%;
  }
  
  #cb-footer .cb-footer-lower .cb-footer-links ul {
    text-align: right;
    margin: 0;
  }
}

.block-footer {
  padding: 80px 0;
  /* Rectangle: */
  background: #1D1D1D;
  z-index: 1;
  position: relative;
  &__text {
    display: inline-block;
    vertical-align: middle;
    &.v2 {
      margin-top: 20px;
      
      @media (min-width: 560px) {
        margin-top: 0;
      }
    }
    &__title {
      margin-bottom: 8px;
      h2.component-title .component-title__inner {
        color: #E8E8E8;
      }
    }
    
    &__desc {
      margin-bottom: 5px;
      & + .block-footer__text__desc {
        margin-top: 20px;
      }
      
      &__inner {
        /* Если возникнут какие: */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #999999;
        letter-spacing: 0px;
        line-height: 25px;
      }
    }
    
    &__print {
      margin: 10px 0 0;
      
      .block-social {
        display: inline-block;
        vertical-align: middle;
        
        .btn-social {
          margin-right: 20px;
        }
      }
      &__btn {
        display: inline-block;
        vertical-align: middle;
        
        a.btn.btn-card.btn-print {
          padding: (2px + 3px) 5px;
          height: 30px + 6px + 2;
          //width: auto;
          //box-sizing: border-box;
          //display: none;
          border: 1px solid #999;
          background: transparent;
          
          //min-width: 230px;
          
          .btn__icon__hover {
            display: none;
          }
          .btn__inner {
            color: #999999;
          }
          
          //@media (min-width: 768px) {
          //  display: inline-block;
          //}
          
          &:hover {
            background: white;
            border-color: white;
            
            .btn__inner {
              color: black;
            }
            
            .btn__icon {
              display: none;
            }
            .btn__icon__hover {
              display: inline-block;
            }
          }
        }
        
      }
    }
  }
}

.block-author {
  vertical-align: middle;
  @media (min-width: 560px) {
    margin-top: 0;
    display: inline-block;
  }
  @media (min-width: 768px) {
    width: 240px;
  }
  &__photo {
    vertical-align: middle;
    overflow: hidden;
    //text-align: center;
    @media (min-width: 768px) {
      text-align: left;
      width: 80px;
      height: 80px;
      display: inline-block;
    }
    &__img {
      min-width: 80px;
      min-height: 80px;
      border-radius: 40px;
    }
  }
  
  &__about {
    vertical-align: middle;
    //text-align: center;
    @media (min-width: 768px) {
      text-align: left;
      padding-left: 15px;
      width: 155px;
      display: inline-block;
      box-sizing: border-box;
    }
    &__name {
      &__inner {
        /* Филипп Зубков: */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #E8E8E8;
        letter-spacing: 0px;
        line-height: 30px;
      }
    }
    
    &__prof {
      &__inner {
        /* Travel Expert: */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #999999;
        letter-spacing: 0px;
        line-height: 25px;
      }
    }
  }
  &__contact {
    
    &__item {
      margin: 5px 0;
    }
    &__link {
      text-decoration: none;
      
      &__inner, &__img {
        display: inline-block;
        vertical-align: middle;
      }
      
      &__img + &__inner {
        margin-left: 7px;
      }
      
      &__inner + &__img {
        margin-left: 7px;
      }
      
      &__img {
        width: 16px;
        height: 16px;
        opacity: .3;
      }
      
      &__inner {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #999999;
        letter-spacing: 0px;
        line-height: 1.2;
        border-bottom: 1px dashed #999999;
      }
      
      &:hover & {
        &__img {
          opacity: 1;
        }
        
        &__inner {
          color: white;
          border-bottom: 1px solid white;
        }
      }
    }
    &__email {
    }
    
    &__telegram {
    }
  }
}