@import "./../assets/mixins";

.navbar-global {
  
  background: #3A3A3A;
  
  &__cont {
    
    max-width: 1280px;
    padding: 12px 0;
    margin: 0 auto;
    
    &__row {
      position: relative;
      text-align: center;
      
      @media (min-width: 461px) {
        text-align: left;
      }
      
      &__cell {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  
}

.navbar-global-cell {
  &__burger {
    position: absolute;
    margin: (48px - 30px)/2;
    top: 0;
    left: 0;
    
    @media (min-width: 461px) {
      display: none;
    }
  }
  
  &__logo {
    @media (min-width: 461px) {
      padding: 0 20px 0 40px;
    }
  }
  
  &__menu {
    
    //background: white;
    display: none;
    //overflow: hidden;
    @media (min-width: 461px) {
      //background: transparent;
      max-width: 70%;
      display: inline-block;
      
      height: 23px;
      overflow: hidden;
    }
    @media (min-width: 960px) {
      max-width: 80%;
    }
    @media (min-width: 1200px) {
      max-width: 90%;
    }
  }
}

.navbar-global-link {
  font-family: Roboto, Roboto-Regular, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  
  line-height: 20px;
  
  display: block;
  
  text-decoration: none;
  text-transform: uppercase;
  
  border-radius: 3px;
  
  padding: 13px 23px 12px;
  
  @media (min-width: 461px) {
    padding: 2px 7px 1px;
  }
  
  &__inner {
    
  }
  
  &:hover {
    background: #616161;
  }
}

.navbar-global-menu {
  
  //width: auto;
  
  margin: 20px 0 0;
  
  background: rgba(255, 255, 255, .1);
  
  @media (min-width: 461px) {
    margin: 0;
    background: transparent;
    font-size: 0;
  }
  
  &__item {
    display: block;
    vertical-align: middle;
    position: relative;
    
    @media (min-width: 461px) {
      padding: 0 5px;
      display: inline-block;
    }
    
    &__sub {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      
      display: none;
    }
    
    &:hover & {
      
      &__sub {
        display: block;
      }
    }
    
    &--more {
      display: none;
      
      @media (min-width: 461px) {
        display: inline-block;
      }
    }
  }
}

.navbar-global-sub_menu {
  margin-top: 30px;
  background: white;
  padding: 12px 0;
  border-radius: 3px;
  
  position: absolute;
  top: 0;
  left: 0;
  min-width: 256px;
  .navbar-global-menu__item {
    display: block;
    padding: 0;
  }
  
  .navbar-global-link {
    /* АРЕНДА АВТО: */
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #01ABFB;
    letter-spacing: 0.4px;
    line-height: 18px;
    
    background: transparent;
    margin: 0;
    padding: 13px 23px 12px;
    
    @media (min-width: 461px) {
      padding: 11px 23px 10px;
      //display: inline-block;
    }
    
    &:hover {
      background: #F5F5F5;
    }
  }
}

.navbar-global-more {
  //vertical-align: middle;
  display: block;
  //height: 15px;
  //width: 4px * 3 + (2*2*3) + 4;
  font-size: 0;
  
  &__circles {
    display: inline-block;
    vertical-align: middle;
  }
  
  &__circle {
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 2px;
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle;
  }
  
}

.navbar-global-burger {
  position: relative;
  @padding: 6px;
  @lineWidth: 18px;
  @lineHeight: 2px;
  @lineBottomMargin: 4px;
  
  @deltaWhenHover: 2px;
  
  width: @lineWidth + @padding * 2;
  height: (@lineHeight * 3 + @lineBottomMargin * 2 + @deltaWhenHover*2) + @padding*2;
  
  &__line {
    width: @lineWidth;
    height: @lineHeight;
    background: white;
    position: absolute;
    top: 2px + @padding;
    left: 0 + @padding;
    .transform-origin(center center);
    .transition(all .2s ease);
    
    &:nth-child(2) {
      top: @deltaWhenHover + @lineHeight + @lineBottomMargin + @padding;
    }
    
    &:nth-child(3) {
      top: @deltaWhenHover + 2 * (@lineHeight + @lineBottomMargin) + @padding;
    }
  }
  
  &:not(.close):hover & {
    &__line {
      top: 0 + @padding;
      
      &:nth-child(2) {
        top: @deltaWhenHover + @lineHeight + @lineBottomMargin + @padding;
      }
      
      &:nth-child(3) {
        top: @deltaWhenHover + 2 * (@lineHeight + @lineBottomMargin) + @deltaWhenHover + @padding;
      }
    }
  }
  
  &.close & {
    &__line {
      top: @deltaWhenHover + @lineHeight + @lineBottomMargin + @padding;
      .rotateZ(45deg);
      
      &:nth-child(2) {
        opacity: 0;
      }
      
      &:nth-child(3) {
        .rotateZ(-45deg);
      }
    }
  }
}