@font-face {
  font-family: "PFDinTextCompPro-XBlack";
  src: url("./../fonts/PFDin/PFDinTextCompPro-XBlack.eot");
  src: url("./../fonts/PFDin/PFDinTextCompPro-XBlack.eot?#iefix") format("embedded-opentype"),
  url("./../fonts/PFDin/PFDinTextCompPro-XBlack.woff2") format("woff2"),
  url("./../fonts/PFDin/PFDinTextCompPro-XBlack.woff") format("woff"),
  url("./../fonts/PFDin/PFDinTextCompPro-XBlack.ttf") format("ttf"),
  url("./../fonts/PFDin/PFDinTextCompPro-XBlack.svg#PFDinTextCompPro-XBlack") format("svg");
  font-style: normal;
  font-weight: 900;
}