//@font-face {
//  font-family: 'Rub';
//  src: url('./../fonts/Rub/rub.eot?tbiplz');
//  src: url('./../fonts/Rub/rub.eot?tbiplz#iefix') format('embedded-opentype'),
//  url('./../fonts/Rub/rub.ttf?tbiplz') format('truetype'),
//  url('./../fonts/Rub/rub.woff?tbiplz') format('woff'),
//  url('./../fonts/Rub/rub.svg?tbiplz#ott') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'ALSRubl';
  src: url('./../fonts/Rouble/rouble.otf');
  src: url('./../fonts/Rouble/rouble.otf#iefix'),
  url('./../fonts/Rouble/rouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'travel-social-icon';
  src: url('/public/fonts/social-icons/travel-social-icon.eot?ctvp8p');
  src: url('/public/fonts/social-icons/travel-social-icon.eot?ctvp8p#iefix') format('embedded-opentype'),
  url('/public/fonts/social-icons/travel-social-icon.ttf?ctvp8p') format('truetype'),
  url('/public/fonts/social-icons/travel-social-icon.woff?ctvp8p') format('woff'),
  url('/public/fonts/social-icons/travel-social-icon.svg?ctvp8p#travel-social-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'travel-social-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e903";
}

.icon-od:before {
  content: "\e905";
}

.icon-google-plus:before {
  content: "\e902";
}

.icon-youtube:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-vk:before {
  content: "\ea98";
}

//@font-face {
//  font-family: "ALSRubl";
//  src: url("./../fonts/Rouble/rouble.eot");
//  src: url("./../fonts/Rouble/rouble.eot?#iefix") format("embedded-opentype"),
//  url("./../fonts/Rouble/rouble.woff2") format("woff2"),
//  url("./../fonts/Rouble/rouble.woff") format("woff"),
//  url("./../fonts/Rouble/rouble.ttf") format("ttf"),
//  url("./../fonts/Rouble/rouble.svg#ALSRubl") format("svg");
//  font-style: normal;
//  font-weight: 300;
//}

.icon-rub {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ALSRubl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


//.icon-rub{
//  content: "\e902";
//}

.icon-rub.regular:before {
  content: "a";
}

.icon-rub.bold:before {
  content: "c";
}
