.component-title {

  h2& &__inner {
    /* Маршрут, который мы: */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #383838;
    letter-spacing: 0px;
    line-height: 30px;
  }
}