.layout-container {
  margin: 0 auto;
  width: 240px;
  @media (min-width: 560px) {
    margin: 0 auto;
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 700px;
  }

  @media (min-width: 1024px) {
    width: 940px;
  }
}