@import "./../assets/mixins";

.layout-row {
  margin: 0 -10px;
  .clearfix();
  &__cell {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;

    width: 100%;

    &--1-4 {

      @media (min-width: 560px) {
        width: 100%/2;
      }

      @media (min-width: 768px) {
        width: 100%/3;
      }

      @media (min-width: 1024px) {
        width: 100%/4;
      }
    }

    &--7-12 {
      @media (min-width: 560px) {
        width: 100%/12*7;
      }
    }

    &--5-12 {
      @media (min-width: 560px) {
        width: 100%/12*5;
      }
    }
  }
}