- var fullImage = config.path.images + (config.content.top.image ? config.content.top.image : topImage);

section.block-top
  .block-top__background
    .block-top__background__overlay
    .block-top__background__img(style={'background-image' : 'url(' + fullImage + ')'})
  .block-top__forground
    .block-top__forground__center
      .layout-container
        .block-top__forground__title
          if(config.content.top.topText)
            if(Array.isArray(config.content.top.topText))
              each str in config.content.top.topText
                .block-top__forground__title__text
                  .block-top__forground__title__text__inner!= str
            else
              .block-top__forground__title__text
                .block-top__forground__title__text__inner!= config.content.top.topText
          else
            .block-top__forground__title__icon
              img(src=config.path.images + 'top/title.png').block-top__forground__title__icon__img.without-retina
              img(src=config.path.images + 'top/title@2x.png').block-top__forground__title__icon__img.with-retina
            .block-top__forground__title__text
              span.block-top__forground__title__text__inner Маршрут путешествия
        .block-top__forground__route
          span.block-top__forground__route__inner.full!= config.content.top.text
        if(config.content.top.under)
          .block-top__forground__under
            span.block-top__forground__under__inner.full!= config.content.top.under
  .block-top__scroll
    .block-top__scroll__icon
      img(src=config.path.images + 'top/scroll@v.svg').block-top__scroll__icon__img

