section.block-connect
  .layout-container
    if(!config.content.hideContacts)
      .block-connect__left
        .block-connect__title
          //-span.block-connect__title__inner Спроси тревел эксперта:
        .block-connect__links
          nobr
            a(target="_blank", href="mailto:travel_expert@onetwotrip.com").block-connect__link
              img(src=config.path.images + 'footer/email.png').block-connect__link__img
              span.block-connect__link__inner travel_expert@onetwotrip.com
          nobr
            a(target="_blank", href="https://t.me/onetwotrip_expert").block-connect__link
              img(src=config.path.images + 'footer/telegram.png').block-connect__link__img
              span.block-connect__link__inner onetwotrip_expert
    .block-connect__right
      .block-connect__title
        .block-connect__title__inner!= config.content.en ? "Share:" : "Поделиться:"
      .block-connect__social
        .block-social
          a(href="javascript:void(0)", data-share="fb").social-share.btn.btn-social
            span.icon.fb
          a(href="javascript:void(0)", data-share="vk").social-share.btn.btn-social
            span.icon.vk
