include ./../blocks/map.pug

- var about = config.content.about;

if(about && !about.disable)
  section.block-title
    .layout-container
      if(!about.hide)
        .block-title__top
          .block-title__top__row
            .block-title__top__row__cell
              //-.block-title__top__title
                h2.component-title
                  span.component-title__inner Маршрут, который мы советуем
              if(about.cities)
                .block-title__top__route.no-js
                  each city, index in about.cities
                    span.block-title__top__route__inner!= city
              .block-title__top__desc
                span.block-title__top__desc__inner!= about.description
            .block-title__top__row__cell
              if(about.price && !about.price.disabled)
                .block-title-prise


                  .block-title-prise__name
                    if(config.content.en)
                      span.block-title-prise__name__inner Price
                    else
                      span.block-title-prise__name__inner Стоимость
                  .block-title-prise__cost
                    span.block-title-prise__cost__inner!= about.price.cost
                  .block-title-prise__desc
                    span.block-title-prise__desc__inner!= about.price.description

                  .block-title__print
                    .block-title__print__btn
                      a(href="#print", onclick="window.printPage();").btn.btn-card.btn-print
                        img(src=config.path.images + "print_v2@2x.png", width=20, height=18).btn__icon
                        if(config.content.en)
                          span.btn__inner Print itinerary
                        else
                          span.btn__inner Распечатать маршрут
              else
                .block-title__print
                  .block-title__print__btn
                    a(href="#print", onclick="window.printPage();").btn.btn-card.btn-print
                      img(src=config.path.images + "print_v2@2x.png", width=20, height=18).btn__icon
                      if(config.content.en)
                        span.btn__inner Print itinerary
                      else
                        span.btn__inner Распечатать маршрут


      if(about.map && (about.map.direction || about.map.point || about.map.poi))
        .block-title__map
          +block_map(true, about.map.direction, about.map.point, about.map.poi, about.map.options)

