include ./../blocks/map.pug
include ./../blocks/waypoint.pug


- var route = config.content.route;

if(route && route.length > 0)
  section.block-routes
    //-.block-routes__title
      .layout-container
        h2.component-title
          span.component-title__inner Подробный маршрут
    .block-routes__content
      .layout-container#route_section
        each waypoint, index in route
          +block_waypoint(waypoint.title, waypoint.description, waypoint.map, waypoint.cards)

