if(config.content.advices && config.content.advices.length > 0)
  section.block-advices
    .layout-container
      .block-advices__title
        h2.component-title
          span.component-title__inner!= (config.content.adviceTitle ? config.content.adviceTitle : 'Советы эксперта')
      .block-advices__content
        ul.block-advices__list
          each advice, index in config.content.advices
            li.block-advices__list__item
              .block-advice!= advice

mixin after_advices__text(text)
  if(text.type && text.type == 'title')
    .block-after_advices__title
      h2.component-title
        span.component-title__inner!= afterAdvices.title
  else if (typeof text == "string")
    .block-after_advices__text__inner!= text

if(config.content.afterAdvices && (config.content.afterAdvices.title || (config.content.afterAdvices.text && config.content.afterAdvices.text.length > 0 && config.content.afterAdvices.text[0])))
  - var afterAdvices = config.content.afterAdvices;
  section.block-after_advices
    .layout-container
      if(afterAdvices.title)
        .block-after_advices__title
          h2.component-title
            span.component-title__inner!= afterAdvices.title
      if(afterAdvices.text)
        .block-after_advices__content
          .block-after_advices__text
            if(Array.isArray(afterAdvices.text))
              each text, index in afterAdvices.text
                +after_advices__text(text)
            else
              .block-after_advices__text__inner!= afterAdvices.text