if(config.content.blogFooter)
  footer#cb-footer
    .cb-footer-lower.clearfix
      .wrap.clearfix
        .cb-copyright OneTwoTrip © 2013-2017 | Все права защищены.
        .cb-footer-links.clearfix
          ul#menu-social_ott-1.nav.cb-footer-nav.clearfix
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1950
              a(href='https://www.youtube.com/channel/UCDD3hhShfK_9h-MmaMFAR3w')
                span.icon-youtube
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1970
              a(href='https://telegram.me/OneTwoTripRussia')
                span.icon-telegram
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1945
              a(href='https://twitter.com/onetwotrip?lang=ru')
                span.icon-twitter
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1954
              a(href='https://plus.google.com/+OneTwoTripOfficial')
                span.icon-google-plus
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1973
              a(href='https://ok.ru/onetwotrip')
                span.icon-od
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1946
              a(href='https://www.facebook.com/onetwotrip/')
                span.icon-facebook
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-1967
              a(href='https://vk.com/onetwotrip')
                span.icon-vk

else
  footer.block-footer
    .layout-container
      .layout-row
        .layout-row__cell.layout-row__cell--7-12
          .block-footer__text
            .block-footer__text__title
              h2.component-title
                span.component-title__inner
                  != (config.content.footer && config.content.footer.title ? config.content.footer.title : 'Желаем вам приятного путешествия')
            if(config.content.footer && config.content.footer.desc)
              if(Array.isArray(config.content.footer.desc))
                each str in config.content.footer.desc
                  .block-footer__text__desc
                    span.block-footer__text__desc__inner!= str

              else
                .block-footer__text__desc
                  span.block-footer__text__desc__inner!= config.content.footer.desc

            else
              .block-footer__text__desc
                span.block-footer__text__desc__inner Если возникнут вопросы или дополнительные пожелания по маршруту,  <br/> будем рады помочь в осуществлении ваших планов!
              .block-footer__text__desc
                span.block-footer__text__desc__inner Поделитесь своим путешествием с друзьями
            .block-footer__text__print
              .block-social
                a(href="javascript:void(0)", data-share="fb").social-share.btn.btn-social
                  span.icon.fb
                a(href="javascript:void(0)", data-share="vk").social-share.btn.btn-social
                  span.icon.vk
              if(!config.content.footer || !config.content.footer.hidePrint)
                .block-footer__text__print__btn
                  a(href="#print", onclick="window.printPage();").btn.btn-card.btn-print
                    img(src=config.path.images + "print-gray.svg", width=20, height=18).btn__icon
                    img(src=config.path.images + "print-black.svg", width=20, height=18).btn__icon.btn__icon__hover
                    if(config.content.en)
                      span.btn__inner Print itinerary
                    else
                      span.btn__inner Распечатать маршрут
        .layout-row__cell.layout-row__cell--5-12
          .block-footer__text.v2
            .block-footer__text__title
              h2.component-title
                span.component-title__inner
                  != (config.content.footer && config.content.footer.authorTitle ? config.content.footer.authorTitle : 'Маршрут составил')

          .block-author
            .block-author__photo
              img(src=config.path.images + 'footer/photo00.png', width=80, height=80).block-author__photo__img
            .block-author__about
              .block-author__about__name
                span.block-author__about__name__inner
                  != (config.content.footer && config.content.footer.authorName ? config.content.footer.authorName : 'Петр Даль')
              .block-author__about__prof
                if(!config.content.hideContacts)
                  .block-author__contact
                    .block-author__contact__email.block-author__contact__item
                      a(target="_blank", href="mailto:travel_expert@onetwotrip.com").block-author__contact__link
                        span.block-author__contact__link__inner travel_expert@onetwotrip.com
                    .block-author__contact__telegram.block-author__contact__item
                      a(target="_blank", href="https://t.me/onetwotrip_expert").block-author__contact__link
                        span.block-author__contact__link__inner onetwotrip_expert
                        img(src=config.path.images + 'footer/telegram.png').block-author__contact__link__img
                else
                  .block-footer__text__desc
                    span.block-footer__text__desc__inner Тревел-эксперт
                    br
                    span.block-footer__text__desc__inner OneTwoTrip!


//- Change the width and height values to suit you best
//-.typeform-widget(data-url='https://onetwotrip.typeform.com/to/Utio6D', data-text='Travel Expert Rate', style='width:100%;height:200px;')
//-script.
  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()

