mixin navbar_global_menu__item(title, href, hide)
  li.navbar-global-menu__item(class=(hide ? ' item-hide' : ''))
    a.navbar-global-link(target="_blank", href=href)
      span.navbar-global-link__inner!= title

//mixin navbar_sub_item(title, href)
//  li.navbar-global-menu__item
//    a.navbar-global-link(target="_blank", href=href)
//      span.navbar-global-link__inner!= title

.navbar-global
  .navbar-global__cont
    .navbar-global__cont__row
      .navbar-global__cont__row__cell.navbar-global-cell__burger
        .navbar-global-burger
          .navbar-global-burger__line
          .navbar-global-burger__line
          .navbar-global-burger__line

            //FLIGHTS https://www.onetwotrip.com/en-us/
            //HOTELS https://www.onetwotrip.com/en-us/hotels/
            //MOBILE APP https://www.onetwotrip.com/en-us/loyalty/app/
            //SUPPORT https://support.onetwotrip.com/hc/en-us
      .navbar-global__cont__row__cell.navbar-global-cell__logo
        a.navbar-global-logo(target="_blank", href=(config.content.en ? 'https://www.onetwotrip.com/en-us/' : 'https://www.onetwotrip.com/ru/'))
          img.navbar-global-logo__img(width=48, height=48, src=config.path.images + 'header/logo.svg', alt='onetwotrip_logo')

      .navbar-global__cont__row__cell.navbar-global-cell__menu
        ul.navbar-global-menu
          if(config.content.en)
            +navbar_global_menu__item("FLIGHTS", "https://www.onetwotrip.com/en-us/")
            +navbar_global_menu__item("HOTELS", "https://www.onetwotrip.com/en-us/hotels/")
            +navbar_global_menu__item("MOBILE APP", "https://www.onetwotrip.com/en-us/loyalty/app/")
            +navbar_global_menu__item("SUPPORT", "https://support.onetwotrip.com/hc/en-us")
          else
            //-nav
              | <a class="isActive" href="">Блог</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ru/">Авиабилеты</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ru/hotels/">Отели</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ru/tours/">Туры</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ru/packages/">Перелёт&nbsp;+&nbsp;отель</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ru/poezda/">Ж/д</a>
              | <a target="_blank" href=" https://www.onetwotrip.com/ru/cars/">Авто</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ru/loyalty/">Бонусы</a>
              | <a target="_blank" href=" https://support.onetwotrip.com/hc/ru/">Поддержка</a>
              | <a target="_blank" href="https://www.onetwotrip.com/ticket/">Мой заказ</a>

            +navbar_global_menu__item("Авиабилеты", "https://www.onetwotrip.com/ru/?srcmarker2=travel_expert_page&scp=14,12trip_travel-expert_ru,travel_expert_page")
            +navbar_global_menu__item("Отели", "https://www.onetwotrip.com/ru/hotels/?srcmarker2=travel_expert_page&scp=14,12trip_travel-expert_ru,travel_expert_page")
            +navbar_global_menu__item("Туры", "https://www.onetwotrip.com/ru/tours/?srcmarker2=travel_expert_page&scp=14,12trip_travel-expert_ru,travel_expert_page")
            +navbar_global_menu__item("Перелет + отель", "https://www.onetwotrip.com/ru/packages/")
            +navbar_global_menu__item("Ж/Д", "https://www.onetwotrip.com/ru/poezda/?srcmarker2=travel_expert_page&scp=14,12trip_travel-expert_ru,travel_expert_page")
            +navbar_global_menu__item("Авто", "https://www.onetwotrip.com/ru/cars/?srcmarker2=travel_expert_page&scp=14,12trip_travel-expert_ru,travel_expert_page")
            +navbar_global_menu__item("Бонусы", "https://www.onetwotrip.com/ru/loyalty/")
            +navbar_global_menu__item("Поддержка", "http://support.onetwotrip.com/hc/ru/")

          //-+navbar_global_menu__item("Страхование", "https://www.onetwotrip.com/ru/insurance/")
          //-+navbar_global_menu__item("Программа лояльности", "https://www.onetwotrip.com/ru/loyalty/bonuses/", true)
          //-+navbar_global_menu__item("Корпоративным клиентам", "https://b2b.onetwotrip.com/", true)
          //-+navbar_global_menu__item("Партнерская программа", "http://partner.onetwotrip.com/", true)
          //-+navbar_global_menu__item("Блог", "https://www.onetwotrip.com/ru/blog/", true)

          li(style={display : 'none'}).navbar-global-menu__item.navbar-global-menu__item--more
            a.navbar-global-link
              .navbar-global-more
                .navbar-global-more__circles
                  span.navbar-global-more__circle
                  span.navbar-global-more__circle
                  span.navbar-global-more__circle
            .navbar-global-menu__item__sub
              ul.navbar-global-sub_menu
