@font-face {
    font-family: "PFDinTextCompPro-XBlack";
    src: url("PFDinTextCompPro-XBlack.eot");
    src: url("PFDinTextCompPro-XBlack.eot?#iefix") format("embedded-opentype"),
         url("PFDinTextCompPro-XBlack.woff2") format("woff2"),
         url("PFDinTextCompPro-XBlack.woff") format("woff"),
         url("PFDinTextCompPro-XBlack.ttf") format("ttf"),
         url("PFDinTextCompPro-XBlack.svg#PFDinTextCompPro-XBlack") format("svg");
    font-style: normal;
    font-weight: 900;
}