//@import "./../../less/assets/reset";
@import "./../../less/assets/mixins";
//
//.container {
//  margin: 0 20px;
//
//  @media (min-width: 1024px) {
//    width: 960px;
//    margin: 0 auto;
//  }
//}
@import "components/input";
@import "components/btn";
@import "components/page";
@import "components/map";
@import "components/desc";
@import "components/routes";
@import "components/topPreview";

@import "components/ott/selectCity";
@import "components/ott/selectDate";

@import "../../less/sections/22-cards";

.input-group-row {
  display: table-row;
}

.form-control.focus {
  color: #55595c;
  background-color: #fff;
  border-color: #66afe9;
  outline: 0;
}

.input-group-addon {
  &.delimiter {
    padding: 0;
    width: 0;
  }
  
  .form-group {
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}

.modal {
  background: fade(#101220, 70%);
  overflow-y: auto;
}

.admin-btn-group {
  display: table;
  border-collapse: collapse;
  & > &-vertical {
    float: left;
    > .btn {
      display: block;
    }
  }
  
  & > &-hor {
    display: table-row;
    > .btn {
      width: 50%;
      display: table-cell;
      border-radius: 0;
    }
    
    &:first-child {
      > .btn {
        &:first-child {
          border-top-left-radius: 3px;
        }
        &:last-child {
          border-top-right-radius: 3px;
        }
      }
    }
    
    &:last-child {
      
      > .btn {
        &:first-child {
          border-bottom-left-radius: 3px;
        }
        &:last-child {
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
  
}

.modal-lg {
  @media (min-width: 1200px) {
    max-width: 1050px;
  }
}

.btn {
  //vertical-align: middle;
  
  .fa, span {
    //vertical-align: middle;
  }
  
  .fa-chevron-down, .fa-chevron-up, .fa-plus, .fa-save {
    font-size: .8em;
  }
  
  &[disabled] {
    .fa {
      opacity: .3;
    }
  }
  
  .fa + span{
    margin-left: 5px;
  }
}

.btn-secondary {
  
  .fa.fa-plus {
    opacity: .3;
  }
}

.loadFacebookG{
  width:125px;
  height: 125px;
  display: block;
  position: relative;
  margin:auto;
}

.facebook_blockG{
  background-color:rgb(255,255,255);
  border:3px solid rgb(0,0,0);
  float:left;
  height:89px;
  margin-left:7px;
  width:23px;
  opacity:0.1;
  animation-name:bounceG;
  -o-animation-name:bounceG;
  -ms-animation-name:bounceG;
  -webkit-animation-name:bounceG;
  -moz-animation-name:bounceG;
  animation-duration:1.5s;
  -o-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(0.7);
  -o-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  
  &:nth-child(1){
  
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
  }
  
  &:nth-child(2){
  
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
  }
  
  &:nth-child(3){
  
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
  }
}



@keyframes bounceG{
  0%{
    transform:scale(1.2);
    opacity:1;
  }
  
  100%{
    transform:scale(0.7);
    opacity:0.1;
  }
}

@-o-keyframes bounceG{
  0%{
    -o-transform:scale(1.2);
    opacity:1;
  }
  
  100%{
    -o-transform:scale(0.7);
    opacity:0.1;
  }
}

@-ms-keyframes bounceG{
  0%{
    -ms-transform:scale(1.2);
    opacity:1;
  }
  
  100%{
    -ms-transform:scale(0.7);
    opacity:0.1;
  }
}

@-webkit-keyframes bounceG{
  0%{
    -webkit-transform:scale(1.2);
    opacity:1;
  }
  
  100%{
    -webkit-transform:scale(0.7);
    opacity:0.1;
  }
}

@-moz-keyframes bounceG{
  0%{
    -moz-transform:scale(1.2);
    opacity:1;
  }
  
  100%{
    -moz-transform:scale(0.7);
    opacity:0.1;
  }
}
