include ./cards/Photos
include ./cards/Flight
include ./cards/Image
include ./cards/Car
include ./cards/Other

include ./cards/_line
include ./cards/_back

mixin block_card(config)
  if(config.cost)
    - var str = "priceStore.push("+JSON.stringify({id:config.id, cost:config.cost})+");"
    script!= str

  div(data-id=(config.id ? config.id : 'none'))
    .block-card(class=config.type)
      .block-card__frontside
        case config.type
          when 'photos'
          when 'photo'
            +block_card__photos(config.tags, config.location, config.description)
          when 'flight'
            +block_card__flight(config.from, config.to, config.across, config.title)
          when 'hotel'
          when 'excursion'
            if(config.image)
              +block_card__image(config.image.src, config.image.title, config.image.description, config.price.btn.href)
          when 'car'
            if(config.image)
              +block_card__car(config.image.src, config.image.title, config.price.btn.href)
          when 'other'
            +block_card__other(config.other.title, config.other.direction, config.other.detail)
        if(config.price)
          .block-card__price(class=((['hotel', 'excursion'].indexOf(config.type) >= 0) ? 'bordered ' : '') + ( (config.type == 'excursion' ) ? 'no-top' : ''))
            if(config.back)
              +block_card_line({
                title : config.price.title,
                href  : '#back-side-card'
              }, '', true, {
                cost : config.price.btn.title,
                href : config.price.btn.href
              })
            else
              +block_card_line(config.price.title, '', true, {
                cost : config.price.btn.title,
                href : config.price.btn.href
              })
      if(config.back)
        +block_card__back(config.back.title, config.back.items, config.back.across, {
          cost : config.price.btn.title,
          href : config.price.btn.href
        }, (config.back.close_text ? config.back.close_text : 'Закрыть'))