.block-map {
  border-radius: 2px;
  overflow: hidden;
  &.shadow {
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.20);
  }
}

.block-map-hotel {
  width: 200px;
  //height: 150px;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    //position: relative;
    
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  
  &__info{
    margin-top: 150px;
    position: relative;
    z-index: 1;
    
    &__name{
      padding: 5px -0px;
    }
  }
  
}