@import "./../assets/mixins";

.modal {
  z-index: 100;
  
  .full-cover(fixed);
  display: none;
  
  &.open {
    display: block;
  }
  
  &__back {
    z-index: 0;
    
    .full-cover(absolute);
    
    background: rgba(0, 0, 0, .7);
  }
  
  &__body {
    
    .full-cover(absolute);
    overflow: auto;
    z-index: 1;
    
  }
  &__window {
    &__inner {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      
      width: 90%;
      height: 90%;
      
      margin: auto;
      
      background-position: center;
      background-size: contain;
      
      background-repeat: no-repeat;
      
    }
    
    &__description {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-family: Roboto, sans-serif;
      font-weight: 800;
      padding: 20px;
    }
  }
  
  &__window, &__shadow {
    background: white;
    //position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: auto;
    height: 90%;
    
    background-size: cover;
    background-position: center;
    
    width: 300px;
    
    .transition(all .5s ease);
    
    @media (min-width: 560px) {
      width: 520px;
    }
    @media (min-width: 768px) {
      width: 740px;
    }
    
    @media (min-width: 1024px) {
      width: 1000px;
    }
  }
  
  &__navigation {
    z-index: 2;
    .non-select();
    .full-cover(absolute);
    &__next, &__prev {
      position: absolute;
      top: 0;
      height: 100%;
      width: 50px;
      text-align: center;
      cursor: pointer;
      &:before, &:after {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
      }
      
      &.hide {
        display: none;
      }
      
      img {
        @sc: 1.5;
        vertical-align: middle;
        width: 10px * @sc;
        height: 20px * @sc;
      }
      
      &:hover {
        background: rgba(0, 0, 0, .2);
      }
    }
    
    &__prev {
      left: 0;
    }
    
    &__next {
      right: 0;
    }
  }
}
