@import "./../assets/mixins";

.block-photos {
  position: relative;
  margin-bottom: 10px;
  border-radius: 2px;
  background: rgba(48, 68, 110, 0.32);
  
  min-height: 120px;
  
  @media (min-width: 560px) {
    min-height: 160px;
  }
  
  @media (min-width: 768px) {
    min-height: 175px;
  }
  
  @media (min-width: 1024px) {
    min-height: 189px;
  }
  
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //overflow: hidden;
    z-index: 0;
    
    .stop-flickering();
    
    &__thumbs {
      position: relative;
      width: 101%;
      .clearfix();
    }
    
    &__over {
      .transition(opacity .2s ease);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 75%;
      background-image: linear-gradient(-180deg, rgba(3, 12, 12, 0.7) 0, rgba(15, 15, 15, 0) 100%);
    }
  }
  
  &__front {
    position: relative;
    z-index: 1;
    height: 100%;
    .transition(opacity .2s ease);
    
  }
  
  &:hover & {
    &__back {
      &__over {
        opacity: 0;
      }
    }
    &__front {
      opacity: 0;
    }
  }
  
  &__text {
    position: relative;
    z-index: 1;
    padding: 7px 15px;
    
    &__title {
      &__inner {
        /* Royal Park Hotel & H: */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #E8E8E8;
        letter-spacing: 0px;
        line-height: 25px;
        .block-card-image.car & {
          /* Hyundai Accent или а: */
          color: #383838;
        }
      }
    }
    
    &__desc, &__tags {
      &__inner {
        /* Отель 2 звезды: */
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #D8D8D8;
        letter-spacing: 0px;
        line-height: 15px;
      }
    }
    
  }
  
  &__tags {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px 15px;
    &__inner {
      /* Отель 2 звезды: */
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #D8D8D8;
      letter-spacing: 0px;
      line-height: 15px;
      
      text-shadow: 0 0 1px black;
    }
  }
  
}


.block-photos-cell {
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 0;
  cursor: pointer;
  .transition(background .2s ease, transform .2s ease, box-shadow .2s ease);
  
  &:hover {
    z-index: 10;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20), 0px 16px 16px 0px rgba(0, 0, 0, 0.20);
    .scale(1.1);
  }
}

.block-photo-back {
  
  &__thumb, &__box {
    float: left;
    box-shadow: inset 0 0 1px 0 white;
  }
  
  &__thumb {
    background-size: cover;
    background-position: center;
  }
  
  &__box {
    .clearfix();
  }
}


