extends layout.pug

block og
  include blocks/og

block body
  script.
    var apiStore = [];
    var priceStore = [];
    var priceGroups = [];

  if(config.content.currency)
    - var str = "var priceCurrency = '"+config.content.currency+"';";
    script!= str
  else
    script.
      var priceCurrency = 'RUB';

  script.
    if (location.search.indexOf('view=app') > -1) {
      var css = 'div.wrapper__header { display: none !important; }';
      var head = document.head || document.getElementsByTagName('head')[0];
      var style = document.createElement('style');
      style.type = 'text/css';
      if (style.styleSheet) {
        style.styleSheet.cssText = css;
      } else {
        style.appendChild(document.createTextNode(css));
      }
      if (head)
        head.appendChild(style);
    }


  .wrapper
    .wrapper__header
      include sections/header
    .wrapper__body
      include sections/0-top
      include sections/01-connect
      include sections/1-title
      include sections/2-routes
      include sections/3-advices
      include sections/4-footer

  script(src=config.path.js + "jquery.min.js")
  script(src=config.path.js + "script.min.js?_=" + Date.now())
  script(async,defer,src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapApi + "&callback=initMap")
  script.
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-21448683-10', 'auto');
    ga('send', 'pageview');

