doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    if(!config.content.search)
      meta(name="ROBOTS", content="noindex,nofollow")

    block og

    title!= (config.content.title ? config.content.title : 'Ваш персональный маршрут путешествия')

    link(rel="shortcut icon", href="https://www.onetwotrip.com/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext,latin-ext", rel="stylesheet")

    link(rel="stylesheet", href=config.path.css + 'reset.min.css?_=' + Date.now())
    link(rel="stylesheet", href=config.path.css + 'style.min.css?_=' + Date.now())
    link(rel="stylesheet", href=config.path.css + 'print.min.css?_=' + Date.now(), media="print")


  body
    block body