@import "assets/mixins";

body{
  font-size: 14px;
  font-weight: 400;
}

.wrapper{
  &__header{
    position: relative;
    z-index: 1;
  }

  &__body{
    position: relative;
    z-index: 0;
  }
}

@import "layout/index";
@import "component/index";
@import 'blocks/index';



@import "sections/header";
@import "sections/0-top";
@import "sections/01-connect";
@import "sections/1-title";
@import "sections/2-routes";
@import "sections/3-advices";
@import "sections/4-footer";