.wrapper__header {
  display: none;
}

.layout-container {
  width: auto;
  margin: 0 40px;
}

.block-top {
  
  height: auto;
  
  &__background {
    display: none;
  }
  
  &__forground {
    position: relative;
    height: auto;
    
    padding: 20px 0;
    
    &:before, &:after {
      display: none;
    }
    
    &__center {
    }
    
    &__title {
      margin-bottom: 10px;
      &__icon {
        display: none;
        &__img {
        }
      }
      
      &__text {
        margin-bottom: 10px;
        &__inner {
          /* МАРШРУТ ПУТЕШЕСТВИЯ: */
          color: black;
        }
      }
    }
    
    &__route {
      
      &__inner {
        color: black;
      }
    }
    
    &__under {
      &__inner {
        color: black;
      }
    }
  }
  
  &__scroll {
    display: none;
  }
}

.block-connect {
  display: none;
}

.block-photos {
  display: none;
}

.block-title {
  page-break-after: always;
}

.block-waypoint {
  page-break-before: auto !important;
}

.block-card,
.block-map {
  page-break-inside: avoid;
}

.block-card__car__text__title__inner {
  font-size: 10px;
}

.block-card__car__text__image {
  img {
    max-height: 80px !important;
  }
}

//.block-card__image__back{
//  border:1px solid #D8D8D8;
//}

.block-card.excursion .block-card__frontside, .block-card.hotel .block-card__frontside, .block-card.p .block-card__frontside, .block-card.photo .block-card__frontside, .block-card.photos .block-card__frontside {
  border: 1px solid #D8D8D8;
}

.block-card__image__text__title__inner{
  color:black;
}

.block-title {
  padding-top: 10px;
}

.block-title {
  &__top {
    &__row {
      
      &__cell {
        &:first-child {
          margin-right: 100%/12;
          width: 100%/12*6;
        }
        
        &:last-child {
          width: 100%/12*5;
        }
      }
    }
  }
}

.layout-row__cell--1-4 {
  width: 100%/3;
}

.block-advices {
  page-break-before: always !important;
  &__content {
    padding-bottom: 10px;
  }
}

.block-advices__list {
  list-style-type: decimal !important;
}

.btn-print {
  display: none !important;
}

#typeform-full {
  display: none;
}

.block-footer__text__print {
  display: none;
}

.block-title__top__row{
  &__cell{
    display: block;
    width: 100%!important;
  }
}
.block-title__top__desc{
  display: none;
}

.block-footer{
  display: none;
}