doctype html

html
  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="ROBOTS", content="noindex,nofollow")

    title!= ('АДМИН Панель: Ваш персональный маршрут путешествия')

    link(rel="shortcut icon", href="https://www.onetwotrip.com/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext,latin-ext", rel="stylesheet")

    link(rel="stylesheet", href=config.admin.css + 'assets/awesome/font-awesome.min.css')

    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel="stylesheet", href=config.admin.css + 'assets/bootstrap/bootstrap.min.css')
    link(rel="stylesheet", href=config.admin.css + 'assets/pikaday/pikaday.css')
    link(rel="stylesheet", href=config.admin.css + 'assets/jsoneditor/jsoneditor.min.css')
    //-script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")
    link(rel="stylesheet", href=config.admin.css + 'admin.min.css?_=' + Date.now())

body
  #app
  script(src=config.path.js + 'jquery.min.js')
  //script(src=config.admin.js + 'assets/tether/tether.min.js')
  script(src=config.admin.js + 'assets/ott/refData.js')
  script(src=config.admin.js + 'assets/fileSaver/fileSaver.min.js')
  script(src=config.admin.js + 'assets/pikaday/pikaday.js')
  script(src=config.admin.js + 'assets/jsoneditor/jsoneditor-minimalist.min.js')
  //script(src=config.admin.js + 'assets/bootstrap/bootstrap.min.js')
  script(src=config.admin.js + 'assets/react/react.js')
  script(src=config.admin.js + 'assets/react/react-dom.js')
  script(src=config.admin.js + 'admin.min.js')
  script(defer,async,src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapApi + "&callback=initMap")
