.admin-btn-update {
  width: 38px;
  height: 38px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  
  span {
    font-size: .8em;
    vertical-align: middle;
  }
}

.block-card {
  
  .btn {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    
    &.btn-card {
      /* Rectangle 6: */
      background: #FFFFFF;
      border: 1px solid #999999;
      border-radius: 2px;
      width: 88px;
      
      padding: 1px 0;
      
      .transition(background .2s ease, border .2s ease);
      
      .btn__icon {
        display: inline-block;
        vertical-align: middle;
      }
      
      .btn__inner {
        /* 32 840 ₽: */
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #383838;
        letter-spacing: 0.5px;
        line-height: 25px;
        display: inline-block;
        vertical-align: middle;
        
      }
      .icon-rub {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1px;
        margin-top: 2px;
        color: #383838;
        font-size: 16px;
        
      }
      
      &:hover {
        /* Rectangle 6: */
        background: #FFC900;
        border-radius: 2px;
        border-color: #FFC900;
      }
      
      &.btn-print {
        padding: 2px 5px;
        height: 30px;
        width: auto;
        box-sizing: border-box;
        display: none;
        
        min-width: 230px;
        @media (min-width: 768px) {
          display: inline-block;
        }
      }
    }
    
    .btn__icon {
      margin-right: 20px;
    }
  }
}