.admin-desc {
  padding: 5px 0;
  //border: 1px solid #D8D8D8;
  //margin-bottom: 5px;
  position: relative;
  
  &:not(.text) {
    .form-control {
      //padding: 0;
      float: none;
    }
  }
  //.btn-main {
  //  width: 100%;
  //  overflow: hidden;
  //  max-width: 100px;
  //  text-align: left;
  //
  //  padding: .25rem*2 .5rem*2;
  //
  //  @media (min-width: 450px) {
  //    max-width: 245px;
  //  }
  //
  //  @media (min-width: 576px) {
  //    max-width: 325px;
  //  }
  //
  //  @media (min-width: 768px) {
  //    max-width: 515px;
  //  }
  //
  //  @media (min-width: 992px) {
  //    max-width: 755px;
  //  }
  //
  //  @media (min-width: 1200px) {
  //    max-width: 935px;
  //  }
  //}
}