//.admin-control {
//  width: 100%;
//  position: relative;
//  margin-bottom: 10px;
//  > label {
//    display: block;
//    width: 100%;
//    span {
//      display: block;
//      margin-bottom: 5px;
//    }
//    input[type="text"] {
//      display: block;
//      width: 100%;
//      padding: 5px 10px;
//    }
//  }
//}

.admin-select-multi{
  &__items{
    font-size: 0;
    display: inline;
    vertical-align: middle;
    height: 28px;
  
    margin-right: 5px;
  }
  
  &__input {
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    outline: none;
    min-width:100px;
  }
  
  &__data{
    //font-size: 0;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    position: relative;
  
    &__helper{
      position: absolute;
      top: 34px;
      left: 0;
      width: 100%;
      z-index: 10;
    }
  }
  
  &__list{
    &__item{
      
    }
  }
}
.admin-select-multi-item{
  display: inline-block;
  padding: .3rem .6rem;
  vertical-align: middle;
  background-color: #818a91;
  border-radius: 3px;
  font-size: 12px;
  line-height: 13px;
  box-sizing: border-box;
  color: white;
  
  margin-right: 5px;
  
  &:hover{
    background: darken(red, 15%);
  }
}

.admin-select-multi-list{
  
  ul{
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding: 5px 10px;
      display: block;
      &:hover{
        background: #D8D8D8;
      }
    }
  }
}

.admin-typed {
  
  padding: .25rem .75rem;
  font-size: 1rem;
  line-height: 1rem * 1.25 + .5rem;
  
  &__items {
    font-size: 0;
    display: inline;
    vertical-align: middle;
    height: 28px;
  
    margin-right: 5px;
    
    &:before, &:after {
      content: '';
      display: inline-block;
      height: 28px;
      width: 0;
      vertical-align: middle;
    }
    
    &__middle {
      display: inline-block;
      height: 28px;
      width: 7px;
      padding: 0;
      vertical-align: middle;
      cursor: pointer;
      position: relative;
      &:hover {
        //width: 15px;
        box-shadow: inset 0 0 5px rgba(255, 0, 0, .1);
        
        &:before, &:after {
          position: absolute;
          font-size: 30px;
          line-height: 15px;
          left: 50%;
          margin-left: -7.5px;
        }
        
        &:before{
          content: '▾';
          top: -10px;
          
        }
        &:after {
          content: '▴';
          bottom: -10px;
          
        }
      }
    }
  }
  
  //&__item {
  //  margin-right: 5px;
  //  padding: .3rem .6rem;
  //  vertical-align: middle;
  //  background-color: #818a91;
  //  border-radius: 3px;
  //  font-size: 12px;
  //  line-height: 13px;
  //  box-sizing: border-box;
  //  color: white;
  //  display: inline-block;
  //}
  
  &__input {
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    outline: none;
  }
}

.admin-typed-item {
  display: inline-block;
  padding: .3rem .6rem;
  vertical-align: middle;
  background-color: #818a91;
  border-radius: 3px;
  font-size: 12px;
  line-height: 13px;
  box-sizing: border-box;
  color: white;
  
  &.focus {
    background: darken(#818a91, 15%);
  }
  
  &__input {
    border: 0;
    outline: 0;
    
    background: inherit;
    color: inherit;
  }
  &__inner {
    background: inherit;
    color: inherit;
  }
}

.admin-input-point {
  &__select {
    text-align: left;
  }
}