.block-map {
  height: 150px;
}

.admin-map {
  &__data {
    &__type {
    }
    
    &__direction {
      
    }
    
    &__type + &__direction, &__type + &__point {
      margin-top: 1rem;
    }
    
    &__direction + &__point {
      margin-top: 1rem;
    }
    
    &__point + &__direction {
      margin-top: 1rem;
    }
  }
  
  &__demo {
    position: relative;
    &__btn {
      position: absolute;
      top: 0;
      right: -50px;
      z-index: 1;
      
      @media (max-width: 640px) {
        top: 10px;
        right: 10px;
      }
      
      @media (min-width: 768px) and(max-width: 818px) {
        top: 10px;
        right: 10px;
      }
      
      @media (min-width: 992px) and(max-width: 1055px) {
        top: 10px;
        right: 10px;
      }
    }
  }
}