.admin-page {
  &__header {
    margin-bottom: 20px;
    height: 54px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  &__body {
    position: relative;
    z-index: 0;
    padding-top: 20px + 54px;
  }
}

.admin-box {
  margin-bottom: 10px;
  
  @color: #f7f7f9;
  
  &__title {
    padding: .8rem 1.7rem;
    background: @color;
    color: darken(@color, 30%);
    
    .non-select();
    
    &:hover {
      background: darken(@color, 10%);
      color: darken(@color, 40%);
    }
    
    //&.darken {
    //  background: darken(@color, 10%);
    //  color: lighten(#ccc, 20%);
    //  &:hover {
    //    color: black;
    //    background: darken(@color, 0%);
    //  }
    //}
    
  }
  
  &__body {
    padding: 1rem 1.5rem;
    border: .2rem solid @color;
    
  }
  
  &__shadow {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .7), 0 2px 5px rgba(0, 0, 0, .7);
  }
  
  &__inner {
    border: .2rem solid @color;
  }
  
  &__body + &__body, &__body + &__inner, &__inner + &__inner {
    border-top-width: 0;
  }
  
  &__pad {
    padding: 1rem 1.5rem;
    
    &-min {
      padding: .5rem .5rem;
    }
  }
  
  &__border {
    border-bottom: .2rem solid @color;
    
    &:last-child {
      border-bottom: 0;
    }
  }
  
  &__back {
    padding: 1rem 1.5rem;
    background: @color;
  }
  
  &.open &{
    @color: darken(#f7f7f9, 10%);
  
    &__title {
      padding: .8rem 1.7rem;
      background: @color;
      color: darken(@color, 30%);
    
      .non-select();
    
      &:hover {
        background: @color;
        color: darken(@color, 40%);
      }
    
      //&.darken {
      //  background: darken(@color, 10%);
      //  color: lighten(#ccc, 20%);
      //  &:hover {
      //    color: black;
      //    background: darken(@color, 0%);
      //  }
      //}
    
    }
  
    &__body {
      padding: 1rem 1.5rem;
      border: .2rem solid @color;
    
    }
  
    &__shadow {
      box-shadow: inset 0 0 2px rgba(0, 0, 0, .7), 0 2px 5px rgba(0, 0, 0, .7);
    }
  
    &__inner {
      border: .2rem solid @color;
    }
  
    &__body + &__body, &__body + &__inner, &__inner + &__inner {
      border-top-width: 0;
    }
  
    &__pad {
      padding: 1rem 1.5rem;
    
      &-min {
        padding: .5rem .5rem;
      }
    }
  
    &__border {
      border-bottom: .2rem solid @color;
    
      &:last-child {
        border-bottom: 0;
      }
    }
  
    &__back {
      padding: 1rem 1.5rem;
      background: @color;
    }
  }
}