.admin-routes {
  &__item {
    position: relative;
    z-index: 0;
  }
  &__edit {
    position: absolute;
    top: 22px;
    right: 75px;
    z-index: 1;
    text-align: right;
    
    width: 100px;
    .clearfix();
    &__col {
      float: left;
      width: 50%;
      text-align: center;
    }
  }
}

.admin-waypoint-list {
  &__inner {
  }
  
  &__footer {
    padding: 1.2em;
  }
}

.admin-desc-list_item {
  position: relative;
  &__table {
    width: 100%;
    &__tr {
      border-bottom: .25rem solid #eceeef;
      
      & + tr {
        border-bottom: 0;
        margin-bottom: 20px;
      }
      
      &:hover {
        background: fade(#eceeef, 20%);
      }
    }
    
    &__td {
      padding-top: .5em;
      padding-bottom: .5em;
    }
    
    &__sort {
      width: 30px;
    }
    &__edit {
      width: 80px;
      text-align: center;
      //width: 120px;
    }
    &__remove {
      width: 70px;
      text-align: right;
    }
    
    &__view {
      //width: 100%;
    }
  }
}

.admin-waypoint-item-modal {
  &__edit {
    margin-bottom: 20px;
  }
  
  &__save {
    
  }
}

.admin-cards-list {
  &__item {
    margin-bottom: 20px;
    
    &__over {
      border-radius: 5px;
      background: #ebebeb;
      border: 1px solid #ebebeb;
    }
  }
  
  &__demo {
    border-bottom: 1px solid #ebebeb;
    background: white;
    overflow: hidden;
  }
  
  
  &__edit {
    text-align: center;
    padding: 4px;
  }
}

.admin-cards-list-item {
  padding: 10px;
  
  > small {
    display: block;
    margin-bottom: 7px;
  }
  
}