.top-preview {
  position: relative;
  
  width: 100%;
  height: 400px;
  
  display: flex;
  
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 0;
  }
  
  &__text {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
    transition: background-color .3s ease;
    
    
    &:hover {
      background: 0;
    }
  }
}

.top-preview-title {
  color: #fff;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  font-size: 42px;
}

.top-preview-text{
  color: #fff;
  font-size: 26px;
}

.top-preview-under{
  color: #fff;
  font-size: 18px;
}
