mixin block_card__back(title, items, across, btn, close_text)
  .block-card__backside
    .block-card__multi(class=(typeof across !== "undefined" ? 'with-across' : ''))
      .block-card__multi__title
        span.block-card__multi__title__inner!= title
      .block-card__multi__list
        each item, index in items
          if(typeof item == 'string')
            .block-card__multi__list__item!= item
          else if(item.title && item.time)
            +block_card_line_v2(item.title, item.time)
    if(typeof across !== "undefined")
      .block-card__flight__across
        +block_card_line(across.title, across.time, true)
    .block-card__price
      +block_card_line({
        href  : "#front-side-card",
        title : close_text
      }, '', true, btn)