mixin block_card_line(left, right, grey, btn, size)
  .block-card__line(class=(grey ? ' grey' : '') + (btn ? ' with-btn' : ''))
    .block-card__line__left(style={width : (size ? size[0] : '')})
      if(typeof left == 'string')
        span.block-card__line__left__inner!= left
      else if(left.href && left.title)
        a(href=left.href).block-card__line__left__link
          span.block-card__line__left__link__inner!= left.title
      else
        each text, index in left
          span.block-card__line__left__inner!= text
    .block-card__line__right(style={width : (size ? size[1] : '')})
      if(!btn)
        span.block-card__line__right__inner!= right
      else
        a(href=btn.href, target="_blank").btn.btn-card
          span.btn__inner!= btn.cost

mixin block_card_line_v2(left, right, grey, btn)
  .block-card__line.v2(class=(grey ? ' grey' : '') + (btn ? ' with-btn' : ''))
    .block-card__line__left
      if(typeof left == 'string')
        span.block-card__line__left__inner!= left
      else if(left.href && left.title)
        a(href=left.href).block-card__line__left__link
          span.block-card__line__left__link__inner!= left.title
      else
        each text, index in left
          span.block-card__line__left__inner!= text
    .block-card__line__right
      span.block-card__line__right__inner!= right