mixin block_card__car(src, title, href)
  .block-card__car
    .block-card__car__text
      .block-card__car__text__title
        span.block-card__car__text__title__inner!= title
      .block-card__car__text__image
        a(href=href, target="_blank")
          img(src=src).block-card__car__text__image__img