include ./_line

mixin block_card__flight(from, to, across, title)
  .block-card__flight
    .block-card__flight__from-to
      .block-card__flight__from-to__title
        if (title)
          span.block-card__flight__from-to__title__inner!= title
        else
          span.block-card__flight__from-to__title__inner Авиаперелет
      if(from)
        +block_card_line(from.title,  from.time)
      if(to)
        +block_card_line(to.title, to.time)
    if(across)
      .block-card__flight__across
        +block_card_line(across.title, across.time, true)
    else
      .block-card__flight__across.empty
        +block_card_line('', '', true)