mixin block_card__image(src, title, description, href)
  a(href=href, target="_blank").block-card__image
    .block-card__image__back
      .block-card__image__back__overlay
      div(style='background-image: url(' + src + ')').block-card__image__back__img

    .block-card__image__text
      .block-card__image__text__title
        span.block-card__image__text__title__inner!= title
      if(description)
        .block-card__image__text__desc
          span.block-card__image__text__desc__inner!= description