include _line

mixin block_card__other(type, direction, details)
  .block-card__other
    .block-card__other__from-to
      .block-card__other__from-to__title
        span.block-card__other__from-to__title__inner!= type
      .block-card__other__from-to__direction
        .block-card__other__from-to__direction__inner!= direction
    .block-card__other__detail
      each detail, index in details
        +block_card_line(detail.title, detail.time, true, false, detail.size)