mixin block_card__photos(tags, location, desc)
  .block-card__photo(data-tags=tags, data-location=location)
    .block-card__photo__back
      .block-card__photo__back__thumbs.block-photo-back
      .block-card__photo__back__over
    .block-card__photo__front
      .block-card__photo__text
        .block-card__photo__text__title
          span.block-card__photo__text__title__inner Фотографии
        if(desc)
          .block-card__photo__text__desc
            span.block-card__photo__text__desc__inner!= desc
      if(tags)
        .block-card__photo__tags
          if(typeof tags == 'string')
            span.block-card__photo__tags__inner!= '#' + tags
          else
            span.block-card__photo__tags__inner!= '#' + tags.join(', #')