.admin-select-from {
  &__data {
    span, i {
      //vertical-align: middle;
    }
    .btn {
    }
  }
  &__input {
    position: relative;
    &__options {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      z-index: 10;
      
    }
  }
}

.admin-select-from-options {
  overflow: auto;
  max-height: 300px;
  border: 1px solid #ebebeb;
  
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  
}